$primary: #3a3738;

$gold-300: #ebca6b;
$gold: #c5ae6a;
$gold-600: #b79f5b;
$secondary: #2e363e;
$white: #ffffff;
$black: #000000;

$gray-100: #cdcdcd;
$gray-200: #f5f5f5;
$gray-300: #f5f4f4;
$gray-400: #f6f6f6;
$gray-500: #e5e5e5;
$gray-600: #a3a3a3;
$gray-700: #bababa;
$gray-800: #707070;

$green-300: #72d88b;
$green-400: #4fb368;
$green-500: #36c05b;
$green-600: #2E693E;
$green-700: #407a4f;
$green-800: #24462d;

$danger-300: #FC8F8F;
$danger-500: #e73939;
$danger-600: #ff0000;

$dark-600: #444444;
