.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.logoWrapper {
		position: relative;
		width: 150px;
		height: 100px;
	}
	.innerWrapper {
		padding: 3rem 2rem;
		background-color: #a1a1a1;
		border-radius: 5px;
	}
}
