html,
body {
	font-family: 'Barlow', sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-size: 1.6em;
	background-color: $gray-400;
}

a, p, span, label,
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
strong {
	color: $gold;
}
p {
	line-height: 2.4rem;
	letter-spacing: 0.003em;
	@include media-breakpoint-up(xl) {
		line-height: 3rem;
	}
}
*,
*::after,
*::before {
	box-sizing: border-box;
}

.grecaptcha-badge {
	visibility: hidden;
}
